.modal--section__share{width:300px;}
.modal--section__share hr{margin:0;}
.modal--share--button{font-weight: 500;font-size: 14px;line-height: 20px;padding:16px;display:block;background-color:#fff;border:0;width:100%;}