.search--filter--list{border:1px solid #A1A1A1;background-color: #F2F2F2;padding:12px 16px;}
.search--filter{display:flex;align-items:center;}
.search--filter--title{width:92px;flex:none;font-weight:500;padding:12px 8px;}
.search--filter--title .btn--toggle--arrow{float:right;display:none}
.search--filter--contents{flex:auto;padding:12px 8px;}
.search--filter--contents__check{margin-right:-8px;margin-bottom:-4px;}
.search--filter--contents__range{height:56px;margin-top:12px;}

.search--filter--label{display:inline-block;}
.search--filter--label>input[type=text]{border:0;padding:8px;max-width:336px;width:100%;font-size: 14px;line-height: 20px;}
.search--filter--label>input[type=checkbox]{display:none}
.search--filter--label>input[type=checkbox]+span{display:block;background-color:#F2F2F2;padding:4px 16px;font-size:14px;line-height:20px;border:1px solid #959595;border-radius:4px;}
.search--filter--label>input[type=checkbox]:checked+span{background-color:#0F75BC;border: 1px solid #0F75BC;color:#fff;}
.search--filter--label__text{width:100%;}
.search--filter--label__check{margin-right:8px;margin-bottom:4px;}

.search--filter--contents .js--selectmenu{margin-right:16px;}

@media (max-width:576px) {
    .search--filter{display:block;}
    .search--filter--title{width:100%;padding:8px;}
    .search--filter--title .btn--toggle--arrow{display:block;}
    .search--filter--contents{padding:8px;}
    .search--filter--contents__range{padding-left:28px;padding-right:28px;}
}