.admin--items--box{flex:1 1 660px;}
.contents--admin--items{height:514px;}
.admin--items{margin-top:16px;padding:16px;}
.admin--items--header{margin-bottom:8px;}
.admin--items--header--title{font-size:16px;line-height: 23px;margin-right:16px;}
.admin--items--header--subtitle--list{display:inline-block;}
.admin--items--header--subtitle{display:inline-block;margin-right:16px;font-weight: 500;font-size: 14px;line-height: 20px;}
.admin--items--header--button--list{float:right;font-size:12px;line-height:17px;}
.admin--items--header--button__modify{color:#666}
.admin--items--header--button__delete{margin-left:8px;color:#EB5757}
.admin--items--text{font-size:14px;line-height: 20px;}

.admin--items.passed .admin--items--header--title{text-decoration:line-through;}
.admin--items.passed .admin--items--header--subtitle{text-decoration:line-through;}
.admin--items.passed .admin--items--text{text-decoration:line-through;}
@media(max-width:920px) {
    .admin--items--box{max-width:380px;margin-left:auto;margin-right:auto;}
    .admin--items--header--subtitle--list{display:block;margin-top:8px;}
}