.contents--detail--replies{font-size: 14px;line-height: 20px;word-break:break-all;}
.detail--replies--input{border:1px solid #e1e1e1;padding:16px;}
.detail--replies--form{background-color:#fff;border:1px solid #e1e1e1;}
.detail--replies--write{background-color:#fff;padding:16px;}
.detail--replies--write--header{margin-bottom:8px;}
.detail--replies--write--contents{width:100%;}
.detail--replies--write--contents>textarea{border:0;width:100%;height:40px;}
.detail--replies--submit{text-align:right;border-top:1px solid #e1e1e1;color:#959595;font-size:12px;line-height:17px;}
.detail--replies--submit--button{display:inline-block;margin-left:4px;width:100px;height:40px;margin-top:0;}

.detail--replies--sort--button--list{text-align:right;padding-bottom:8px;border-bottom:1px solid #E1E1E1;margin-top:24px;}
.detail--replies--sort--button{width:40px;padding:0;display:inline-block;color:#959595;margin-left:16px;}
.detail--replies--sort--button.activated{color:#333}

.detail--replies--item{position:relative;border-bottom:1px solid #E1E1E1;padding-top:16px;padding-bottom:16px;min-height:142px;}
.detail--replies--item--header{margin-bottom:16px;display:flex;align-items:center;}
.detail--replies--item--header .btn--text{color:#959595;font-size:12px;line-height:17px;margin-left:4px;}
.detail--replies--item--header--nickname{font-weight:bold;}
.detail--replies--item--header--mine{font-weight:bold;color:#0F75BC;}
.detail--replies--item--header--timestamp{font-size:12px;color:#666;margin-left:8px;margin-right:auto;}
.detail--replies--item--button--list{margin-top:24px;display:flex;margin-right:-4px;}
.detail--replies--item--button{margin-right:4px;padding:0 8px;height:30px;border:1px solid #e1e1e1;background-color:#fff;font-size: 13px;line-height: 19px;}
.detail--replies--item--button__reply.activated{border: 1px solid #555555;}
.detail--replies--item--button__like{margin-left:auto;}
.detail--replies--item--button__like.activated{border: 1px solid #0F75BC;color:#0F75BC;}
.detail--replies--item--button__dislike.activated{border: 1px solid #EB5757;color:#EB5757;}
.detail--replies--item--button__like .detail--replies--item--button--title{font-weight:bold;color:#0F75BC;}
.detail--replies--item--button__dislike .detail--replies--item--button--title{font-weight:bold;color:#EB5757;}
.detail--replies--item--button--num{margin-left:16px;}

.detail--replies--list .detail--replies--list{padding:16px 16px 16px 32px;background-color:#f2f2f2;}
.detail--replies--list .detail--replies--list .detail--replies--item:before{content:"ㄴ";position:absolute;top:16px;left:-21px;}
@media(max-width:576px) {
    .detail--replies--write--header{font-weight:500;}
    .detail--replies--write--contents>textarea{height:100px;}
}