/*@todo 디자인, html 완전 바뀜. 새로 작업필요*/

.flex--table{border:1px solid #a1a1a1;font-size:14px;line-height:20px;}

.flex--table--thead--tr{border-bottom:1px solid #e1e1e1;display:flex;font-weight: bold;padding-top:8px;padding-bottom:8px;}
.flex--table--th{text-align:center;flex:0 1 160px;margin-left:4px;margin-right:-4px;}
.flex--table--thead--tr .flex--table--th:first-child{padding-left:24px;padding-right:24px;text-align:left;flex:1 2 405px;margin-left:0;margin-right:0;}

.flex--table--th .btn--sort--list{margin-left:6px;}

.flex--table--tbody{max-height:204px;overflow-y:auto;padding-top:8px;}
.flex--table--tbody--tr{display:flex;margin-bottom:8px;}

.flex--table--td{text-align:center;flex:0 1 160px;}
.flex--table--td span:nth-child(2){font-size:12px;line-height:17px;color:#666;margin-left:8px;}
.flex--table--tbody--tr .flex--table--td:first-child{text-align:left;flex:1 2 405px;padding-left:24px;}

/*.flex--table--td span{margin-left:8px;font-size: 12px;line-height: 17px;color:#666;}*/

@media(max-width:576px){
    .flex--table--thead--tr{padding-top:8px;padding-bottom:8px;}
    .flex--table--thead--tr .flex--table--th:first-child{padding-left:16px;padding-right:16px;}
    .flex--table--thead--tr .flex--table--th:nth-child(n+2){display:none;}
    .flex--table--tbody--tr .flex--table--td:first-child{padding-left:16px;padding-right:16px;}
    .flex--table--tbody--tr .flex--table--td:nth-child(n+2){display:none;}
}