.section__detail{margin-top:56px;margin-bottom:100px;}
.container__detail>div{position:relative;}
.container__detail>hr{margin-top:40px;margin-bottom:16px;}
.container__detail .contents--title .btn--toggle__arrow{margin-left:auto;}
@media(max-width:576px) {
    .section__detail{margin-top:16px;}
}