.contents__detail--info{border:1px solid #A1A1A1;}
.detail--info--list{display:flex;flex-wrap:wrap;padding:16px 16px 4px;height:160px;overflow-y:auto}
.detail--info{margin-bottom:12px;width:50%;}
@media(max-width:576px) {
    .detail--info--list{display:block;padding-bottom:8px;}
    .detail--info{margin-bottom:8px;width:100%;}
}