.detail--header--category--info--box{border: 1px solid #A1A1A1;padding:16px;word-break:break-all;}
.detail--header--category--info--title--box{margin-bottom:16px;}
.detail--header--category--info--title{font-weight: bold;font-size: 20px;line-height: 29px;color:#0F75BC;}
.detail--header--category--info--subtitle{font-size: 14px;line-height: 20px;margin-left:8px;color:#959595;}
.detail--header--category--info--contents{margin-top:0;margin-bottom:0;}