.search--result--category{margin-top:16px;}
.search--result--category--title{margin-bottom:8px;}
.search--result--category--title--name{text-decoration:underline;margin-right:16px;font-weight:500;font-size: 18px;line-height: 26px;}
.search--result--category--title--category{display:inline-block;font-size: 14px;line-height: 23px;color:#959595;}
.search--result--category--title--category>span{font-weight:bold;}
.search--result--category--contents{font-size: 14px;line-height: 20px;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient:vertical;display:-webkit-box;}

@media(max-width:576px) {
    .search--result--major--title--name{display:block;font-size:16px;line-height:23px;margin-bottom:4px;}
    .search--result--major--title--category{display:block;font-size:14px;line-height: 20px;}
    .search--result--category--contents{word-break:break-all;font-size: 13px;line-height: 19px;-webkit-line-clamp: 5;}
}