.contents__mypage--majors-interested{border:1px solid #a1a1a1;padding:16px;}
.contents__mypage--majors-interested hr{margin-top:24px;margin-bottom:40px;}
.contents__mypage--majors-interested__exists{display:flex;flex-wrap:wrap;}
#mypage--majors-interested--navermap{width:500px;flex:1 1 500px;margin-right:16px;}

.contents__mypage--majors-interested__exists .box--filters{display:none;background-color:transparent;border:0;padding:0;margin-bottom:16px;}
.contents__mypage--majors-interested__exists .filter--contents__check{margin-right:0;margin-bottom:0;}
.contents__mypage--majors-interested__exists .filter--label__check{margin-right:0;flex:1 1 100px;}
.contents__mypage--majors-interested__exists .filter--label>input[type=checkbox]+span{display:block;background-color:#fff;padding:4px 16px;text-align:center;font-weight:500;border:1px solid #fff;border-radius:0;margin-bottom:0;}
.contents__mypage--majors-interested__exists .box--filters .filter--label>input[type=checkbox]:disabled+span{color:#959595}

.mypage--majors-interested__exists{width:500px;flex:1 1 500px;min-height:850px;position:relative;}
.mypage--majors-interested__exists .btn--pagination{margin-top:24px;}
.contents--title__mypage__major-interested{margin-bottom:8px;}
.mypage--majors-interested--title--list{padding:24px 40px 0;}
.mypage--majors-interested--rank--list{padding-bottom:80px;display:flex;flex-wrap:wrap;}

@media(max-width:576px) {
    #mypage--majors-interested--navermap{display:none!important;}
    .contents__mypage--majors-interested__exists .box--filters{display:block;}
    .contents__mypage--majors-interested{border:0;padding:0;display:block;}
    .mypage--majors-interested--title--list{padding:0;}
    .mypage--majors-interested__exists{min-height:0;}
}