.index--etc--rank--box{order:2;flex:360px;overflow:hidden;position:relative;padding:16px;}

.index--etc--rank--type--button--list{margin-bottom:24px;}
.index--etc--rank--type--button{color:#666;margin-right:20px;}
.index--etc--rank--type--button.activated{color:#333;text-decoration:underline}

.index--etc--rank{color:#333;margin-top:20px;display:flex;}
.index--etc--rank:nth-child(n+6){display:none;}
.index--etc--rank--after6 .index--etc--rank{display:none;}
.index--etc--rank--after6 .index--etc--rank:nth-child(n+6){display:flex;}
.index--etc--rank--index{display:inline-block;font-weight:bold;color:#0F75BC;width:19px;margin-right:16px;text-align:center}

.index--etc--rank--range--button--list{margin-top:20px;text-align:right;font-size:14px;line-height:20px;}
.index--etc--rank--range--button{color:#666;margin-left:8px;}
.index--etc--rank--range--button.activated{color:#333;text-decoration:underline}

.index--etc--rank--list{transition:top .5s;}

.index--etc--rank--box .btn--toggle__arrow{display:none;position:absolute;top:8px;right:16px;z-index:2;}

@media(max-width:1400px) {
    .index--etc--rank--box{border-bottom:1px solid #e1e1e1;height:40px;margin-bottom:16px;}
    .index--etc--rank{margin-top:16px;height:20px;}
    .index--etc--rank{display:flex!important;}
    .index--etc--rank--box .btn--toggle__arrow{display:block;}

    .contents--title__index--etc--rank{display:none;}
    .index--etc--rank--type--button--list{display:none;}
    .index--etc--rank--range--button--list{display:none;}
    .index--etc--rank--list{position:absolute;top:0;left:16px;width:100%;margin-top:-8px;}
    .index--etc--rank--box.activated{height:auto;}
    .index--etc--rank--box.activated>.index--etc--rank--list{position:static;}
    .index--etc--rank--box.activated>.contents--title__index--etc--rank{display:block;}
    .index--etc--rank--box.activated>.index--etc--rank--type--button--list{display:block;}
}