.section__page--title{font-size:24px;line-height:35px;border-bottom:1px solid #a1a1a1;}
.container__page--title{padding-top:24px;padding-bottom:24px;}
@media (max-width:576px) {
    .section__page--title{font-size:18px;line-height:26px;}
    .container__page--title{padding:16px;}
}